! Configuration File for keepalived

vrrp_script check_script_{{ service_name }} {
  script "/etc/keepalived/scripts/check_script_{{ service_name }}.sh"
  interval 2
  fall 2
  rise 10
}

vrrp_instance {{ service_name }} {
  state {{ vip_instance_state }}
  interface {{ vip_interface }}
  virtual_router_id {% if service_name == 'internal' %}{{ router_id | int + 1 }}{% else %}{{ router_id | int }}{% endif %}

  priority {{ vip_instance_priority }}
  accept
  garp_master_refresh 5
  garp_master_refresh_repeat 2
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass {{ vip_pass }}
  }

  virtual_ipaddress {
    {{ vip_address }} dev {{ vip_interface }}
  }

  track_script {
     check_script_{{ service_name }}
  }
}
