spring:
  profiles: docker

custom:
  spring_datasource_password: {{ mariadb_root_password }}
  spring_redis_password: {{ redis_master_password }}
  spring_redis_sentinel_nodes: {% for host in groups['redis'] %}{{ host }}:26379{% if not loop.last %},{% endif %}{% endfor %}

  fsd_common_netty_codec_mac: 60f81dad19ae
  fsd_biz_deploy_inner_vip: "{{ default_internal_server_visit_ip }}"
  fsd_biz_deploy_mode: {{ fsd_deploy_mode }}
  fsd_biz_deploy_node_type: {{ fsd_deploy_node_type }}
  fsd_biz_path_shareRootPath: {{ fsd_share_root_path }}
  fsd_biz_clouddisk_rootPath: {{ fsd_cloud_disk_root_path }}
  fsd_biz_clouddisk_sharedDiskMapPath: shareA
  fsd_biz_clouddisk_cloudDiskUsername: {{ samba_user }}
  fsd_biz_clouddisk_cloudDiskPassword: {{ samba_passwd }}
  port_mysql: {{ mariadb_external_listen_port }}
  port_mqtt: {{ emqx_external_mqtt_port }}
  port_prometheus_server: {{ prometheus_port }}
  port_prometheus_alert: {{ alertmanager_external_port }}
  port_prometheus_pushgateway: {{ pushgateway_external_port }}
  port_prometheus_thanos: {{ thanos_external_query_port }}
  port_bt_start: {{ bt_download_external_port_start }}
  port_bt_end: {{ bt_download_external_port_end }}
  port_bt_server: {{ bt_server_external_port }}
  port_bt_tracker: {{ bt_tracker_external_port }}
  port_virtual_api: {{ trochilus_external_api_listen_port }}
  port_virtual_vnc: {{ websockify_external_port }}
  port_java_front: {{ fsd_external_nginx_port }}
  port_java_main: {{ fsd_listen_main_port }}
  port_java_job: {{ fsd_listen_job_port }}
  port_java_tcp: {{ fsd_external_tcp_file_port }}
  port_java_file: {{ fsd_listen_tcp_file_port }}
  port_java_console: {{ fsd_console_port }}
  fsd_biz_parameter_policyCodeRateRange: {{ fsd_policy_codeRateRange }}
