spring:
  profiles: docker

custom:
  spring_datasource_password: {{ mariadb_root_password }}
  spring_redis_host: {{ default_internal_server_visit_ip }}
  spring_redis_port: {{ redis_port }}
  spring_redis_password: {{ redis_master_password }}
  fsd_common_netty_codec_mac: 60f81dad19ae
  fsd_biz_deploy_scene: {{ fsd_voi_version }}
  fsd_biz_deploy_inner_ip: {{ default_internal_server_visit_ip }}
  fsd_biz_deploy_mode: all
  fsd_biz_deploy_node_type: "single"
  
  fsd_biz_deploy_ssh_port: 22
  fsd_biz_path_shareRootPath: {{ fsd_share_root_path }}
  fsd_biz_desktop_tracker_configFile: /opt/torrent_server_bin/
  fsd_biz_front_frontDir: /var/www/html
  fsd_biz_front_nginxConfigFile: /etc/nginx/conf.d/fsd.conf
  fsd_biz_front_vipConfigFile: /etc/keepalived/keepalived.conf
  fsd_biz_clouddisk_rootPath: {{ fsd_cloud_disk_root_path }}
  fsd_biz_clouddisk_sharedDiskMapPath: shareA
  fsd_biz_clouddisk_cloudDiskUsername: troila
  fsd_biz_clouddisk_cloudDiskPassword: Troila12
  port_mysql: {{ mariadb_external_listen_port }}
  port_mqtt: {{ emqx_external_mqtt_port }}
  port_prometheus_server: {{ prometheus_port }}
  port_prometheus_alert: {{ alertmanager_external_port }}
  port_prometheus_pushgateway: {{ pushgateway_external_port }}
  port_prometheus_thanos: {{ thanos_external_query_port }}
  port_bt_start: {{ bt_download_external_port_start }}
  port_bt_end: {{ bt_download_external_port_end }}
  port_bt_server: {{ bt_server_external_port }}
  port_bt_tracker: {{ bt_tracker_external_port }}
  port_virtual_api: {{ trochilus_external_api_listen_port }}
  port_virtual_vnc: {{ websockify_external_port }}
  port_java_front: {{ fsd_external_nginx_port }}
  port_java_main: {{ fsd_main_port }}
  port_java_job: {{ fsd_job_port }}
  port_java_tcp: {{ fsd_tcp_port }}
  port_java_file: {{ fsd_tcp_file_port }}
  port_java_console: {{ fsd_console_port }}