{% set node_resource_info = [] %}
{% for host in groups['compute'] %}
    {% set cpuNum = host | filter_node_vcpus() %}
    {% if fsd_deploy_mode == 'voi' %}
        {% set memoryVoiNum = host | filter_vdi_node_mems() %}
        {% set memoryVdiNum =  0 %}
    {% endif %}
    {% if fsd_deploy_mode == 'vdi' %}
        {% set memoryVdiNum = host | filter_vdi_node_mems() %}
        {% set memoryVoiNum =  0 %}
    {% endif %}
    {% if fsd_deploy_mode == 'all' %}
        {% set memoryVdiNum = host | filter_vdi_node_mems() %}
        {% set memoryVoiNum = hostvars[host]['voi_reserved_memory'] %}
    {% endif %}
    {% set uuid = host | get_trochilus_agent_id(trochilus_api_addr) %}
    {% set vdiFileNum = hostvars[host]['vdi_storage_num'] %}

    {% set node_info = {
        "cpuNum": cpuNum,
        "memoryVdiNum": memoryVdiNum,
        "memoryVoiNum": memoryVoiNum,
        "uuid": uuid,
        "vdiFileNum": vdiFileNum,
        "voiFileNum": voi_storage_num
    } %}
    {% set _ = node_resource_info.append(node_info) %}
{% endfor %}

USE klcloud_fsd{{ deploy_type }};

{% if deploy_edu | bool and enable_ceph | bool and enable_local | bool %}
UPDATE `des_resource_pool` SET
    `vdi_cpu_num` = {{ total_vcpus }},
    `vdi_memory_num` = {{ total_vdi_mems }},
    `voi_memory_num` = {{ total_voi_mems }},
    `vdi_ceph_num` = {{ ceph_storage_num }},
    `vdi_file_num` = {{ total_vdi_file_num }},
    `iso_file_num` = {{ vdi_file_storage_num }},
    `cloud_disk_num` = {{ cloud_disk_num }},
    `voi_file_num` = {{ voi_storage_num }},
    `node_resource_info` = '{{ node_resource_info | to_json }}'
WHERE `uuid` = '0';
UPDATE `sys_setting` SET info = '{"proxyIp":"{{ fsd_proxy_ip }}","vip":"{{ fsd_vip }}","trackerPort":{{ bt_tracker_external_port }},"frontPort":{{ fsd_external_nginx_port }},"netMode":"INNER"}' WHERE uuid = '5b2d43b2-5ff3-4731-a2e6-0854be87a8Z1';

{% elif deploy_edu | bool and not enable_ceph | bool and enable_local | bool %}
UPDATE `des_resource_pool` SET
    `vdi_cpu_num` = {{ total_vcpus }},
    `vdi_memory_num` = {{ total_vdi_mems }},
    `voi_memory_num` = {{ total_voi_mems }},
    `vdi_ceph_num` = 0,
    `vdi_file_num` = {{ total_vdi_file_num }},
    `iso_file_num` = {{ vdi_file_storage_num }},
    `cloud_disk_num` = {{ cloud_disk_num }},
    `voi_file_num` = {{ voi_storage_num }},
    `node_resource_info` = '{{ node_resource_info | to_json }}'
WHERE `uuid` = '0';
UPDATE `sys_setting` SET info = '{"proxyIp":"{{ fsd_proxy_ip }}","vip":"{{ fsd_vip }}","trackerPort":{{ bt_tracker_external_port }},"frontPort":{{ fsd_external_nginx_port }},"netMode":"INNER"}' WHERE uuid = '5b2d43b2-5ff3-4731-a2e6-0854be87a8Z1';

{% elif deploy_edu | bool and enable_ceph | bool and not enable_local | bool %}
UPDATE `des_resource_pool` SET
    `vdi_cpu_num` = {{ total_vcpus }},
    `vdi_memory_num` = {{ total_vdi_mems }},
    `voi_memory_num` = {{ total_voi_mems }},
    `vdi_ceph_num` = {{ vdi_storage_num }},
    `vdi_file_num` = 0,
    `iso_file_num` = {{ vdi_file_storage_num }},
    `cloud_disk_num` = {{ cloud_disk_num }},
    `voi_file_num` = {{ voi_storage_num }},
    `node_resource_info` = '{{ node_resource_info | to_json }}'
WHERE `uuid` = '0';
UPDATE `sys_setting` SET info = '{"proxyIp":"{{ fsd_proxy_ip }}","vip":"{{ fsd_vip }}","trackerPort":{{ bt_tracker_external_port }},"frontPort":{{ fsd_external_nginx_port }},"netMode":"INNER"}' WHERE uuid = '5b2d43b2-5ff3-4731-a2e6-0854be87a8Z1';

{% elif deploy_comm | bool %}
UPDATE `des_resource_pool` SET
    `vdi_desktop_num` = {{ vdi_desktop_num }},
    `vdi_cpu_num` = {{ total_vcpus }},
    `vdi_memory_num` = {{ total_mems }},
    `vdi_storage_num` = {{ (vdi_storage_num | int * 0.9) | int }},
    `cloud_disk_num` = {{ cloud_disk_num }},
    `voi_storage_num` = {{ voi_storage_num }},
    `vdi_file_storage_num` = {{ (vdi_storage_num | int * 0.1) | int }}
WHERE `uuid` = '0';
UPDATE `sys_setting` SET `info` = '{"proxyIp": "{{ fsd_proxy_ip }}","vip": "{{ fsd_vip }}","netMode":"INNER"}' WHERE uuid = '5b2d43b2-5ff3-4731-a2e6-0854be87a8Z1';
UPDATE `des_server` SET `proxy_ip` = '{{ fsd_proxy_ip }}';
{% endif %}
