targets: 
{% if enable_internal_communication | bool %}
{% for host in groups['host-exporter'] %}
  - {{ host }}
{% endfor %}
{% else %}
  - 127.0.0.1
{% endif %}
ping:
  interval: 2s
  timeout: 3s
  history-size: 42
  payload-size: 120
