targets: 
{% for host in groups['host-exporter'] %}
  - {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}
{% endfor %}
ping:
  interval: 2s
  timeout: 3s
  history-size: 42
  payload-size: 120
