global:
  scrape_interval: 20s
  scrape_timeout: 20s
  evaluation_interval: 20s
  external_labels:
    monitor: '{{ ansible_hostname }}'

rule_files:
- /etc/prometheus/rules/*rule.yml
- /mnt/prometheus/rules/*rule.yaml

scrape_configs:
  - job_name: node
    static_configs:
{% if enable_internal_communication | bool %}
{% for host in groups['node-exporter'] %}
      - targets:
        - '{{ host }}:{{ node_exporter_port }}'
        labels:
          host: '{{ hostvars[host]['ansible_hostname'] }}'
          host_ip: '{{ host }}'
{% endfor %}
{% else %}
      - targets:
        - '127.0.0.1:{{ node_exporter_port }}'
        labels:
          host: '{{ ansible_hostname }}'
          host_ip: '127.0.0.1'
{% endif %}

  - job_name: collectd
    static_configs:
{% if enable_internal_communication | bool %}
{% for host in groups['collectd-exporter'] %}
      - targets:
        - '{{ host }}:{{ collectd_exporter_port }}'
        labels:
          host: '{{ hostvars[host]['ansible_hostname'] }}'
          host_ip: '{{ host }}'
{% endfor %}
{% else %}
      - targets:
        - '127.0.0.1:{{ collectd_exporter_port }}'
        labels:
          host: '{{ ansible_hostname }}'
          host_ip: '127.0.0.1'
{% endif %}

{% if only_deploy_voi | bool or deploy_edu | bool %}
  - job_name: docker
    static_configs:
{% if enable_internal_communication | bool %}
{% for host in groups['docker-exporter'] %}
      - targets:
        - '{{ host }}:{{ docker_exporter_port }}'
        labels:
          host: '{{ hostvars[host]['ansible_hostname'] }}'
          host_ip: '{{ host }}'
{% endfor %}
{% else %}
      - targets:
        - '127.0.0.1:{{ docker_exporter_port }}'
        labels:
          host: '{{ ansible_hostname }}'
          host_ip: '127.0.0.1'
{% endif %}
{% endif %}

  - job_name: host
    static_configs:
{% if enable_internal_communication | bool %}
{% for host in groups['host-exporter'] %}
      - targets:
        - '{{ host }}:{{ host_exporter_port }}'
        labels:
          host: '{{ hostvars[host]['ansible_hostname'] }}'
          host_ip: '{{ host }}'
{% endfor %}
{% else %}
      - targets:
        - '127.0.0.1:{{ host_exporter_port }}'
        labels:
          host: '{{ ansible_hostname }}'
          host_ip: '127.0.0.1'
{% endif %}

{% if enable_pushgateway | bool %}
  - job_name: pushgateway
    honor_labels: true
    static_configs:
      - targets:
        - '{{ default_internal_server_visit_ip }}:{{ pushgateway_listen_server_port }}'
        labels:
          host: '{{ ansible_hostname }}'
          host_ip: '{{ default_internal_server_listen_ip }}'
{% endif %}

  - job_name: consul
    scrape_timeout: 10s
    consul_sd_configs:
{% for host in groups['prometheus'] %}
{% if not enable_internal_communication | bool %}
{% set host = '127.0.0.1' %}
{% endif %}
    - server: '{{ host }}:{{ consul_listen_server_port }}'
      services: []
{% endfor %}
    relabel_configs:
    - source_labels: ["__meta_consul_service_port"]
      regex: ".*8300.*"
      action: drop

alerting:
  alert_relabel_configs:
  - source_labels:
    regex: "monitor"
    action: labeldrop
  alertmanagers:
  - static_configs:
    - targets:
{% for host in groups["alertmanager"] %}
{% if not enable_internal_communication | bool %}
{% set host = '127.0.0.1' %}
{% endif %}
        - '{{ host }}:{{ alertmanager_listen_server_port }}'
{% endfor %}
