[torrent]
managementIp=0.0.0.0
managementPort={{ bt_listen_server_port }}
torrentIp={{ external_manage_ip }}
portBegin={{ bt_download_external_port_start }}
portEnd={{ bt_download_external_port_end }}
trackerPort={% if deploy_edu | bool %}{{ bt_tracker_external_port }}{% else %}{{ bt_listen_tracker_port }}{% endif %}
