[torrent]
managementIp=0.0.0.0
managementPort={{ bt_listen_server_port }}
torrentIp={{ inventory_hostname }}
portBegin={{ bt_listen_download_port_start }}
portEnd={{ bt_listen_download_port_end }}
trackerPort={{ bt_listen_tracker_port }}
