[torrent]
managementIp=0.0.0.0
managementPort={{ bt_server_external_port }}
torrentIp={{ hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] }}
portBegin={{ bt_download_external_port_start }}
portEnd={{ bt_download_external_port_end }}
trackerPort={{ bt_listen_tracker_port }}
