global
    daemon
    log {{ inventory_hostname }}:5140 local1
    maxconn {{ haproxy_max_connections }}
    stats socket /var/lib/haproxy/haproxy.sock mode 660

defaults
    log global
    option redispatch
    retries 3
    timeout http-request {{ haproxy_http_request_timeout }}
    timeout queue {{ haproxy_queue_timeout }}
    timeout connect {{ haproxy_connect_timeout }}
    timeout client {{ haproxy_client_timeout }}
    timeout server {{ haproxy_server_timeout }}
    timeout check {{ haproxy_check_timeout }}
    balance {{ haproxy_defaults_balance }}
    maxconn {{ haproxy_defaults_max_connections }}

listen stats
   bind {{ inventory_hostname }}:{{ haproxy_stats_port }}
   mode http
   stats enable
   stats uri /
   stats refresh 15s
   stats realm Haproxy\ Stats
   stats auth {{ haproxy_user }}:{{ haproxy_password }}

frontend status
    bind {{ inventory_hostname }}:{{ haproxy_monitor_port }}
    {% if api_interface_address != internal_vip_address %}
    bind {{ internal_vip_address }}:{{ haproxy_monitor_port }}
    {% endif %}
    mode http
    monitor-uri /

{% if enable_mariadb | bool %}
listen mariadb
    mode tcp
    bind {{ internal_vip_address }}:{{ mariadb_listen_port }}
    balance source
    option tcplog
{% for host in (groups['mariadb']) %}
    server {{ host }} {{ host }}:{{ mariadb_listen_port }} check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_emqx | bool %}
listen emqx
    mode tcp
    bind 0.0.0.0:{{ emqx_external_mqtt_port }}
    balance source
    option tcplog
{% for host in (groups['emqx']) %}
    server {{ host }} {{ host }}:{{ emqx_internal_mqtt_port }} check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_trochilus | bool %}
listen trochilus-api
    mode tcp
    bind {{ internal_vip_address }}:{{ trochilus_api_listen_port }}
    balance source
    option tcplog
{% for host in (groups['trochilus-api']) %}
    server {{ host }} {{ host }}:{{ trochilus_api_listen_port }} check inter 2000 rise 2 fall 5
{% endfor %}

listen trochilus-agent
    mode tcp
    bind {{ internal_vip_address }}:{{ trochilus_agent_listen_port }}
    balance source
    option tcplog
{% for host in (groups['trochilus-agent']) %}
    server {{ host }} {{ host }}:{{ trochilus_agent_listen_port }} check inter 2000 rise 2 fall 5
{% endfor %}

listen websockify
    mode tcp
    bind {{ internal_vip_address }}:{{ websockify_internal_port }}
    balance source
    option tcplog
{% for host in (groups['websockify']) %}
    server {{ host }} {{ host }}:{{ websockify_internal_port }} check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_prometheus | bool %}
listen prometheus
    mode tcp
    bind {{ internal_vip_address }}:{{ thanos_query_port }}
    balance source
    option tcplog
{% for host in (groups['prometheus']) %}
    server {{ host }} {{ host }}:{{ thanos_query_port }} check inter 2000 rise 2 fall 5
{% endfor %}

listen alertmanager
    mode tcp
    bind {{ internal_vip_address }}:{{ alertmanager_port }}
    balance source
    option tcplog
{% for host in (groups['alertmanager']) %}
    server {{ host }} {{ host }}:{{ alertmanager_port }} check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}


{% if enable_btserver | bool %}
listen btserver-torrent
    mode tcp
    bind 0.0.0.0:{{ btserver_external_listen_ports }}
    balance source
    option tcplog
{% for host in (groups['btserver']) %}
    server {{ host }} {{ host }}:{{ bt_download_internal_port_start }},{{ bt_download_internal_port_end }} check inter 2000 rise 2 fall 5
{% endfor %}

listen btserver
    mode tcp
    bind 0.0.0.0:{{ bt_server_external_port }}
    balance source
    option tcplog
{% for host in (groups['btserver']) %}
    server {{ host }} {{ host }}:{{ bt_server_internal_port }} check inter 2000 rise 2 fall 5
{% endfor %}

listen btserver-tracker
    mode tcp
    bind 0.0.0.0:{{ bt_tracker_external_port }}
    balance source
    option tcplog
{% for host in (groups['btserver']) %}
    server {{ host }} {{ host }}:{{ bt_tracker_internal_port }} check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}
