# btserver log
/var/log/btserver/*.log {
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 644 root root
}

# emqx log
/var/log/emqx/*.log {
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 644 root root
}

# libvirt log
/var/log/libvirt/*.log {
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 644 root root
}

# mariadb log
/var/log/mariadb/*.log {
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 644 root root
}

# redis log
/var/log/redis/*.log {
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 644 root root
}

# trochilus dhcp log
/var/log/trochilus/dhcp/*/*.log {
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 640 dnsmasq root
}

# trochilus api and agent log
/var/log/trochilus/*.log {
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 644 root root
}

{% if deploy_comm | bool %}
# guest-service log
/var/log/guest-service/*.log {
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 644 root root
}
{% endif %}
