/var/log/btserver/*.log 
/var/log/emqx/*.log
/var/log/libvirt/*.log
/var/log/mariadb/*.log
/var/log/trochilus/*.log
{% if deploy_comm | bool %}
/var/log/guest-service/*.log {
}
{% endif %}
{
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 644 root root
}

/var/log/redis/*.log
{
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 666 root root
}

# trochilus dhcp log
/var/log/trochilus/dhcp/*/*.log {
    daily
    rotate 30
    compress
    missingok
    notifempty
    delaycompress
    create 640 dnsmasq root
}
