#!/bin/bash

docker exec mariadb mysqldump -u{{ mariadb_root_username }} -p{{ mariadb_root_password }} --all-databases > {{ mariadb_backup_path }}/database-backup-`date +%Y-%m-%d-%H-%M`.sql
find {{ mariadb_backup_path }}/* -mtime +10 -exec rm {} \;
