#!/usr/bin/bash
iptables -P FORWARD ACCEPT
systemctl restart chronyd
{% if enable_hugepages | bool %}
echo {{ hugepages_total }} > /sys/kernel/mm/hugepages/hugepages-2048kB/nr_hugepages
echo N > /sys/module/kvm/parameters/nx_huge_pages
{% endif %}
{% if enable_lvm | bool %}
vgchange -ay -K {{ lvm_volgroup_name }}
{% endif %}

{% if not only_deploy_voi | bool %}
echo "{{ coredump_libvirt_path }}/corefile-%e-%p-%t" > /proc/sys/kernel/core_pattern
{% endif %}


{% if enable_local | bool %}
sleep 10
docker restart trochilus_api trochilus_agent fsd fsd_nginx libvirt btserver seafile btserver_tracker virt_v2v_with_ssh
{% endif %}
