[DEFAULT]
mqtt_server = {{ internal_vip_address }}
mqtt_port = {{ emqx_internal_mqtt_port }}
prometheus_url = http://{{ internal_vip_address }}:{{ prometheus_pushgateway_port }}/metrics/job/pushgateway/instance/
